*{
    margin: 0;
    padding: 0;
}
.head{
    height: 70px;
    background-color: rgba(24, 25, 33, 1);
    display: flex;
}

div{
    display: flex;
}

.text-1{
    font-family: 'Sofia Pro', sans-serif;
    color: white;
    padding-top: 21px;
    padding-left: 25px;
    font-size: x-large;
    display: flex;
}

.text-2{
    display: flex;
    font-family: 'Sofia Pro', sans-serif;
    font-size: x-large;
    padding-top: 1px;
    position: absolute;
    right: 0;
    padding-top: 19px;
    padding-right: 25px;
}

p a{
    display: flex;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: 'Sofia Pro', sans-serif;
}

.login{
    position: absolute;
    top: 26%;
    left: 39%;
    font-size: larger;
}

.text-box-1{
    position: absolute;
    top: 33%;
    left: 39%;
}

input{
    width: 287px;
    height: 52px;
    border: none;
    background-color: rgba(238, 238, 238, 0.9333);
    border-radius: 7px;
    border: 3px solid rgba(238, 238, 238, 0.9333);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding: 0 23px;
}

button {
    
    width: 338px;
    height: 52px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Sofia Pro', sans-serif;
}

button:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 193, 96);
}


::placeholder{
    font-family: 'Sofia Pro', sans-serif;
    color: rgba(84, 84, 84, 1);
    text-align: center;
    
}


.Text3{
    font-family: 'Sofia Pro', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: larger;
}

input[type=text]:focus{
    border: 3px solid rgba(24, 25, 33, 1);
}

hr {
    margin: 23% auto 0;
    border: none;
    border-top: 1px solid rgba(175, 175, 175, 1);
    border-radius: 2px;
    left: 2%;
}

p.or-text {
    position: absolute;
    left: 45%;
}

.create {
    position: absolute;
    top: 52.3%;
    left: 42.5%;
    text-align: center;
}

.create p {
    font-family: 'Sofia Pro', sans-serif;
    color: rgba(157, 157, 157, 1);
}

.create p a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

